/** Global Styles ***/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

body {
  padding: 0;
  background: #f6f5f6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.wrapper {
  width: 92%;
  margin: auto;
}

.margin-top {
  margin-top: 10px;
}

.margin-top-2x {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-bottom-2x {
  margin-bottom: 20px;
}

.no-padding-left {
  padding-left: 0px;
}

.no-padding-right {
  padding-right: 0px;
}

.no-padding {
  padding: 0;
}

.center {
  margin: auto;
  text-align: center;
}

.dontshow {
    visibility: none;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

/* main page header and footer */

.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  height: 300px;
  background: url(../assets/home_background.png);
  position: relative;
}

.header .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: white;
  text-align: center;
  font-weight: 600;
}

.header .wrapper .title {
  font-size: 38px;
  margin: auto;
  display: block;
  padding-top: 30px;
}

.header .wrapper img {
  max-height: 80px;
}

/*** Home page results ***/

.item {
  border: 1px solid #eaeaea;
  background: #fff;
  border-radius: 3px;
  min-height: 300px;
  margin-bottom: 30px;
}
/* Maybe class 'id' isnt the best for now... */
.item .id {
  background: #C91D21;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  color: white;
}
.item img {
  /* Can I trust all images to be square from the API?
     Should I force to squares? I just use height. */
  height: 60px;
  display: inline;
  border-radius: 3px;
  border: 1px solid #A5B0B7;
  float: left;
}

.item .title {
  color: #333;
  display: inline;
  font-size: 14px;
  float: left;
  width: 100%;
  font-size: 16px;
}

.item .username a {
  padding-top: 5px;
  display: inline-block;
  font-size: 15px;
}
.item .desc_title {
  margin-top: 3px;
  color: #666;
}
.item .desc {
  margin-top: 2px;
  color: #666;
  /* Glad I caught this. */
  word-wrap: break-word;
}

.tags {
  margin-top: 5px;
  display: inline-block;
}

.item .tags a {
  /* To fall back on if the API didnt have hex color */
  border: 1px solid #444;
  color: #444;
  display: inline;
  float: left;
  font-size: 12px;
  margin-right: 5px;
  padding: 3px 7px 3px 7px;
  border-radius: 3px;
}

.item .tags a:hover {
  text-decoration: none;
}

.item .viewfull {
  position: absolute;
  bottom: 50px;
  left: 30px;
  border: 1px solid #337ab7;
  padding: 3px 10px 3px 10px;
  border-radius: 2px;
}

.item .viewfull:hover {
  background: #337ab7;
  color: white;
  text-decoration: none;
}

/*** Searchbar ***/

.search {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 50px;
}

.pagebtns {
  display: flex;
  justify-content: center;
}

.pagenum {
  display: inline;
  padding: 3.9px 10px;
  background: white;
  float: left;
  border-top: 1px solid #337ab7;
  border-bottom: 1px solid #337ab7;
  text-align: center;
}

.pagination {
  width: 100%;
}

.pagination button {
  float: left;
  background: #337ab7;
  color: white;
  padding: 5px 15px 5px 15px;
  border: none;
}

/*** Issue Page results ***/

.specific_item {
  border: 1px solid #eaeaea;
  background: #fff;
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.specific_item .wrapper {
  background: #C91D21;
  font-size: 16px;
  width: 100% !important;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  color: white;
  border: none;
}

.specific_item img {
  /** Assuming its a sqaure **/
  margin-left: 20px;
  max-height: 160px;
  border-radius: 3px;
  border: 1px solid #A5B0B7;
}

.specific_item .issuenum {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  font-size: 16px;
}

.specific_item .state {
  padding-top: 20px;
  padding-bottom: 20px;
  float: right;
  padding-right: 10px;
}

.specific_item .title {
  color: #333;
  display: inline;
  margin-left: 10px;
  font-size: 20px !important;
  float: left;
  width: 100%;
  font-size: 18px;
}

.specific_item .username a {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 15px;
  display: inline-block;
  float: left;
}

.specific_item .desc_title {
  margin-top: 3px;
  color: #666;
}

.specific_item .desc {
  margin-top: 20px;
  color: #666;
  margin-left: 20px;
  margin-right: 20px;
  word-wrap: break-word;
}

.specific_item .tags a {
  border: 1px solid #444;
  color: #444;
  display: inline;
  float: left;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 5px;
  padding: 3px 7px 3px 7px;
  border-radius: 3px;
}

.specific_item .tags a:hover {
  text-decoration: none;
}

.specific_item .home {
  border: 1px solid #337ab7;
  padding: 3px 10px 3px 10px;
  border-radius: 2px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: block;
  width: 110px;
}

.specific_item .home:hover {
  background: #337ab7;
  color: white;
  text-decoration: none;
}

.specific_item .comments_wrapper {
  background: #eaeaea;
  font-size: 16px;
  width: 100% !important;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  color: white;
  border: none;
  margin: auto;
}

.specific_item .comments {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: #666;
}

.specific_item .profile_pic {
  max-height: 80px;
  display: block;
  margin: auto;
}

.specific_item .username {
  padding-top: 5px;
  display: block;
  margin: auto;
  text-align: center;
}

.specific_item .name {
  float: left;
  display: block;
}

.specific_item .text_comment {
  float: left;
  word-wrap: break-word;
  width: 100%;
}
